h1{
    text-shadow: #FFFFFF 0 0 12px,#A91079 0 0 25px,#A91079 0 0 35px,#A91079 0 0 45px;
    font-style: bold;
    cursor: pointer;
}
body{
    background-color: darkslategray;
    color: white;
}

nav{
    background-color: black;
    color: white;
    padding: 20px;
}
ul,li,h1{
    display: inline;
    margin-left: 50px;
}
ul{
    padding-left: 50%;
}
div{
    color: white;
    padding: 30px;
}

input[type="number"] {
    width: 300px; 
    height: 40px;
    font-size: 16px;
}
label {
    font-size: 40px;
    display: inline-block;
}
#end {
    font-size: 40px;
}
button[type="button"]{
    width: 200px;
    height: 20px;
    font-size: 16px;
    display: block;
    margin-left: 45%;
    margin-top: 20px;
}
form{
    padding: 30px;
}
